<div class="container mt-5">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group form-focus">
      <input type="date" class="form-control floating" formControlName="date">
      <label class="focus-label">date</label>
    </div>
    <div class="form-group form-focus">
      <input type="text" class="form-control floating" formControlName="description">
      <label class="focus-label">description</label>
    </div>
    <div class="form-group form-focus">
      <input type="text" class="form-control floating" formControlName="file">
      <label class="focus-label">file</label>
      <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">add</button>
    </div>
  </form>

</div>
