<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Doccure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.min.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body class="account-page">

<!-- Main Wrapper -->
<div class="main-wrapper">


  <!-- Page Content -->
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-8 offset-md-2">

          <!-- Login Tab Content -->
          <div class="account-content">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-12 col-lg-12 login-right">
                <div class="login-header">
                  <h3>créer <span>un compte</span></h3>
                </div>
<!--                <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">-->
<!--                  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}-->
<!--                </button>-->
                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                  <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                      <div class="row form-row">
                        <ng-template matStepLabel>données personnels</ng-template>

                        <div *ngIf="role === 'option1' || role === 'option2'" class="col-12 col-md-6">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>Nom</mat-label>
                              <input matInput formControlName="firsName" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option1' || role === 'option2'" class="col-12 col-md-6">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>prenom</mat-label>
                              <input matInput formControlName="lastName" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option1' || role === 'option2'" class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>email</mat-label>
                              <input matInput formControlName="email" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option1' || role === 'option2'" class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>mot de passe</mat-label>
                              <input matInput type="password" formControlName="password" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option3'" class="col-12 col-md-6">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>Nom</mat-label>
                              <input matInput formControlName="firsName" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option3'" class="col-12 col-md-6">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>téléphone</mat-label>
                              <input matInput formControlName="phone" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option3'" class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>email</mat-label>
                              <input matInput formControlName="email" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option3'" class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>mot de passe</mat-label>
                              <input matInput type="password" formControlName="password" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="fill">
                              <mat-label>Je suis</mat-label>
                              <mat-select [(value)]="role">
                                <mat-option value="option1">patient</mat-option>
                                <mat-option value="option2">médecin</mat-option>
                                <mat-option value="option3">pharmacien</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option1' || role === 'option2'" class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>téléphone</mat-label>
                              <input matInput formControlName="phone" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option1' || role === 'option2'" class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>date de naissance</mat-label>
                              <input matInput type="date" formControlName="birthday" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="role === 'option1' || role === 'option2'" class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>sexe</mat-label>
                              <select matNativeControl required formControlName="gender">
                                <option value="Homme">Homme</option>
                                <option value="Femme">Femme</option>
                              </select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div>
                        <button class="btn btn-primary btn-block btn-lg login-btn" mat-button matStepperNext>suivant
                        </button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step *ngIf="role === 'option3'" [stepControl]="pharmaciesecondFormGroup">
                    <form [formGroup]="pharmaciesecondFormGroup">
                      <div class="row form-row">
                        <ng-template matStepLabel>adresse</ng-template>
                        <div class="col-12 col-md-12">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>Adresse</mat-label>
                              <input matInput formControlName="address" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>ville</mat-label>
                              <input matInput formControlName="city" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>gouvernorat</mat-label>
                              <input matInput formControlName="state" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-select-country placeHolder="pays" appearance="outline" formControlName="country"
                                                required>
                            </mat-select-country>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>zip</mat-label>
                              <input matInput formControlName="zip" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>specialité</mat-label>
                              <select matNativeControl required formControlName="speciality">
                                <option value="pharmacie">pharmacie</option>
                                <option value="paramédical">paramédical</option>
                                <option value="parapharmacie">parapharmacie</option>
                              </select>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-12 col-md-6">
                          <button class="btn btn-info btn-block btn-lg login-btn" mat-button matStepperPrevious>
                            precedent
                          </button>
                        </div>
                        <div class="col-12 col-md-6">
                          <button class="btn btn-primary btn-block btn-lg login-btn" mat-button matStepperNext>suivant
                          </button>
                        </div>

                      </div>
                    </form>
                  </mat-step>
                  <mat-step *ngIf="role === 'option2'" [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                      <div class="row form-row">
                        <ng-template matStepLabel>adresse</ng-template>
                        <div class="col-12 col-md-12">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>Adresse</mat-label>
                              <input matInput formControlName="address" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>ville</mat-label>
                              <input matInput formControlName="city" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>gouvernorat</mat-label>
                              <input matInput formControlName="state" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>prix de consultation</mat-label>
                              <input matInput formControlName="price" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-select-country placeHolder="pays" appearance="outline" formControlName="country"
                                                required>
                            </mat-select-country>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>zip</mat-label>
                              <input matInput formControlName="zip" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>specialité</mat-label>
                              <select matNativeControl required formControlName="speciality">
                                <option value="Urologie">Urologie</option>
                                <option value="Neurologie">Neurologie</option>
                                <option value="Dentiste">Dentiste</option>
                                <option value="Orthopédique">Orthopédique</option>
                                <option value="Cardiologue">Cardiologue</option>
                                <option value="Generale">Generale</option>
                              </select>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-12 col-md-6">
                          <button class="btn btn-info btn-block btn-lg login-btn" mat-button matStepperPrevious>
                            precedent
                          </button>
                        </div>
                        <div class="col-12 col-md-6">
                          <button class="btn btn-primary btn-block btn-lg login-btn" mat-button matStepperNext>suivant
                          </button>
                        </div>

                      </div>
                    </form>
                  </mat-step>
                  <mat-step *ngIf="role === 'option1'" [stepControl]="patientsecondFormGroup">
                    <form [formGroup]="patientsecondFormGroup">
                      <div class="row form-row">
                        <ng-template matStepLabel>adresse</ng-template>
                        <div class="col-12 col-md-12">
                          <div class="form-group">
                            <mat-form-field class="w-100" appearance="outline">
                              <mat-label>Adresse</mat-label>
                              <input matInput formControlName="address" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>ville</mat-label>
                              <input matInput formControlName="city" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>Gouvernorat</mat-label>
                              <input matInput formControlName="state" required>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-select-country placeHolder="pays" appearance="outline" formControlName="country"
                                                required>
                            </mat-select-country>
                          </div>
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="form-group">
                            <mat-form-field appearance="outline">
                              <mat-label>zip</mat-label>
                              <input matInput formControlName="zip" required>
                              <mat-error>zip non valide</mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-12 col-md-6">
                          <button class="btn btn-info btn-block btn-lg login-btn" mat-button matStepperPrevious>
                            precedent
                          </button>
                        </div>
                        <div class="col-12 col-md-6">
                          <button class="btn btn-primary btn-block btn-lg login-btn" mat-button matStepperNext>suivant
                          </button>
                        </div>

                      </div>
                    </form>
                  </mat-step>
                  <mat-step *ngIf="role === 'option3' || role === 'option2'" [stepControl]="localForm">
                    <form [formGroup]="localForm">
                      <ng-template matStepLabel>localisation</ng-template>
                      <agm-map style="height: 300px"
                               [latitude]="latitude"
                               [longitude]="longitude"
                               [zoom]="zoom">
                        <agm-marker
                          [latitude]="latitude"
                          [longitude]="longitude"
                          [markerDraggable]="true"
                          (dragEnd)="markerDragEnd($event)"></agm-marker>
                      </agm-map>
                      <div class="row form-row">
                        <div class="col-12 col-md-6">
                          <button class="btn btn-info btn-block btn-lg login-btn" mat-button matStepperPrevious>
                            precedent
                          </button>
                        </div>
                        <div class="col-12 col-md-6">
                          <button class="btn btn-primary btn-block btn-lg login-btn" mat-button matStepperNext>suivant
                          </button>
                        </div>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="imageform">
                    <form [formGroup]="imageform">
                      <ng-template matStepLabel>dernière étape</ng-template>
                      <div class="form-group form-focus">
                        <input type="file" (change)="onImagePicked($event)" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose image</label>
                      </div>
                      <div class="upload-images form-group"
                           *ngIf="imagePreview !== '' && imagePreview && imageform.get('image').valid">
                        <img [src]="imagePreview">
                      </div>
                      <div class="row form-row">
                        <div class="col-12 col-md-4">
                          <button class="btn btn-info btn-block btn-lg login-btn" mat-button matStepperPrevious>
                            precedent
                          </button>
                        </div>
                        <div class="col-12 col-md-4">
                          <button class="btn btn-danger btn-block btn-lg login-btn" mat-button
                                  (click)="stepper.reset()">annuler
                          </button>
                        </div>
                        <div class="col-12 col-md-4">
                          <button mat-button (click)="onSubmit()" class="btn btn-primary btn-block btn-lg login-btn"
                                  type="submit">Create account
                          </button>
                        </div>
                      </div>
                    </form>
                  </mat-step>
                </mat-horizontal-stepper>


              </div>
            </div>
          </div>
          <!-- /Login Tab Content -->

        </div>
      </div>

    </div>

  </div>
  <!-- /Page Content -->
</div>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Apr 2020 08:29:07 GMT -->
</html>

