<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>3addi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

  <!-- Favicons -->
<!--  <link href="assets/img/favicon.png" rel="icon">-->


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.min.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->

</head>
<body class="account-page">

<!-- Main Wrapper -->
<div class="main-wrapper">


  <!-- Page Content -->
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-8 offset-md-2">

          <!-- Login Tab Content -->
          <div class="account-content">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7 col-lg-6 login-left">
                <img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Login">
              </div>
              <div class="col-md-12 col-lg-6 login-right">
                <div class="login-header">
                  <h3>Connectez-vous ici</h3>
                </div>
                <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
                  <div class="form-group form-focus">
                    <mat-form-field appearance="outline" class="w-100 is-invalid">
                      <mat-label>
                        email
                      </mat-label>
                      <input ngModel #emailInput="ngModel" type="email" name="email" matInput required>
                    </mat-form-field>
<!--                    <input [ngClass]="{'is-invalid': emailInput.invalid && emailInput.touched}" type="email" class="form-control floating" name="email" ngModel type="email" #emailInput="ngModel" required email>-->
<!--                    <label class="focus-label">Email</label>-->
                  </div>
                  <div class="form-group form-focus">
                    <mat-form-field appearance="outline" class="w-100 is-invalid">
                      <mat-label>
                        mot de passe
                      </mat-label>
                      <input ngModel #passwordInput="ngModel" type="password" name="password" matInput required>
                    </mat-form-field>
<!--                    <input [ngClass]="{'is-invalid': passwordInput.invalid && passwordInput.touched}" type="password" class="form-control floating" type="password" name="password" ngModel matInput #passwordInput="ngModel" required>-->
<!--                    <label class="focus-label">Password</label>-->
                  </div>
                  <div class="text-right">
<!--                    <a class="forgot-link" href="forgot-password.html">Forgot Password ?</a>-->
                  </div>
                  <button class="btn btn-primary btn-block btn-lg login-btn" type="submit"
                  [disabled]="loginForm.invalid">Connexion</button>
                  <div class="login-or">
                    <span class="or-line"></span>
                    <span class="span-or">ou</span>
                  </div>
<!--                  <div class="row form-row social-login">-->
<!--                    <div class="col-6">-->
<!--                      <a href="#" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                      <a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="text-center dont-have">Vous n'avez pas de compte ? <a href="register.html">créer un maintenant</a></div>
                </form>
              </div>
            </div>
          </div>
          <!-- /Login Tab Content -->

        </div>
      </div>

    </div>

  </div>
  <!-- /Page Content -->
</div>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Apr 2020 08:29:07 GMT -->
</html>
